/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.container { 
	width:1050px; margin:0 auto
}

body {
	background: #f1f1f1;
}

header { 
	padding-top: 20px;
}


 #banner {

  height: 100px;	
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
  }
}

nav {
	float: right;
}

nav {
	padding: 0 0.7em; 
	white-space: nowrap;
}

nav ul { 
	margin: 0; 
	padding: 0;
}

nav ul li { list-style-type: none; 
	display: inline-block; 
	padding: 0.2em 0;
	font: small-caps 18px/18px "Times New Roman", serif;
}

nav ul li a { 
	padding: 0 5px; 
	font-weight: bold;
}

nav ul li a:visited { 
	color: #09c;
}

nav ul li a:hover { 
	text-decoration: underline;
}

