/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.container { 
	width:1050px; margin:0 auto;
}

body {
    background:url('back.png') repeat scroll 0 0 #ffffff;
}

header { 
	padding-top: 0px;
}


 #banner {
  height: 70px;	
  background: #00c4d6;
  padding-left: 10px;
  padding-top:30px;
  text-align: center;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #fff;
  

  img {
    -moz-border-radius: 5px;
    border-radius: 5px;
   
  }
}

nav {
	text-align: center;
	padding-left: 15px;
}

nav {
	padding: 0 0.7em; 
	white-space: nowrap;
}

nav ul { 
	margin: 0; 
	padding: 0;
}

nav ul li { list-style-type: none; 
	display: block;
	padding: 0.2em 0;
	font: small-caps 18px/18px "Times New Roman", serif;
}

nav ul li a { 
	padding: 0 5px; 
	font-weight: bold;
	color: #400a6e;
}

nav ul li a:visited { 
	color: #fff;
}

nav ul li a:hover { 
	text-decoration: underline;
}
#main1
{
	width:100%;
}

.leftcolor
{
	padding-top: 10px !important;
    padding-right:0px !important;
	background-color: #00c4d6;
}

