// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 10px 0 10 0;
    padding-left:0px !important;
    vertical-align: top;
  }

  .list_image {
    padding-left:10px;
    padding-top:5px;
    height: 150px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: center;

  }

  .list_description {
    width: 70%;
    padding-top:10px;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    x-medium;
    padding-top:10px;
    padding-left: 2em;
    vertical-align: text;
  }

  .list_line_even {

    background:   #00c4d6;
    height: 150px;
  }
  .list_line_odd {
    background:   #f3c242;  
    height: 150px; 
  }

}

.show_image {
}

.show_title {
  text-align:left
}

.footer {
  text-align:center;
}

.footer p {
  color: #394eed;
}

.footer a {
  color: #394eed;
}

